*{{sanitized_plugin_name}}.txt*  Does one thing really well

TODO
Author:  your-name
License: LICENSE
URL: https://github.com/{{github_name}}/{{plugin_name}}

FEATURES                                            *feature-one*
Does this thing pretty well.
                                                    *feature-two*
Does that thing kinda good
                                                    *CommandFoo*
Performs a foo action
